# Core functionality - changes here should be rare!
/src/app.py                   @RobertBurkeEagle
/src/backend/database.py      @RobertBurkeEagle
/src/backend/routers/auth.py  @RobertBurkeEagle

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RobertBurkeEagle
